# BigTreeTech GTR v1.0
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the GTR. Instead,
# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the GTR
# with that SD card.
#
# See https://www.klipper3d.org/Config_Reference.html
#

[force_move]
enable_force_move: true

[printer]
kinematics: corexy
max_velocity: 10000
max_accel: 3000
max_z_velocity: 15
max_z_accel: 200

[mcu]
restart_method: command
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_42004D0012504D4254373320-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[stepper_x]
step_pin: PC15
dir_pin: !PF0
enable_pin: !PF1
microsteps: 64
full_steps_per_rotation: 400
rotation_distance: 40
endstop_pin: PF2
position_min: 0
position_max: 490
position_endstop: 489
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC14
run_current: 1.100
interpolate: False
stealthchop_threshold: 999999

[stepper_y]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 64
full_steps_per_rotation: 400
rotation_distance: 40
endstop_pin: PC13
position_min: 0
position_max: 505
position_endstop: 0
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PE1
run_current: 1.100
interpolate: False
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PB9
microsteps: 64
full_steps_per_rotation: 400
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 450
homing_speed: 40
second_homing_speed: 10
homing_retract_dist: 8

[tmc2209 stepper_z]
uart_pin: PB5
run_current: 1.200
interpolate: False
stealthchop_threshold: 999999

[stepper_z1]
step_pin: PG12
dir_pin: !PG11
enable_pin: !PG13
microsteps: 64
full_steps_per_rotation: 400
rotation_distance: 4

[tmc2209 stepper_z1]
uart_pin: PG10
run_current: 1.200
interpolate: False
stealthchop_threshold: 999999

[stepper_z2]
step_pin: PD6
dir_pin: !PD5
enable_pin: !PD7
microsteps: 64
full_steps_per_rotation: 400
rotation_distance: 4

[tmc2209 stepper_z2]
uart_pin: PD4
run_current: 1.200
interpolate: False
stealthchop_threshold: 999999

[extruder]
step_pin: PD1
dir_pin: !PD0
enable_pin: !PD2
microsteps: 16
rotation_distance: 8.056
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB1 # Heat0
sensor_pin:  PC1 # T0 Header
sensor_type: MY-ATC-Semitec-104GT-2
pullup_resistor: 4550
pressure_advance = 0.04
control: pid
pid_Kp=41.204 
pid_Ki=2.667 
pid_Kd=159.151
min_temp: 5
max_temp: 270

[tmc2209 extruder]
uart_pin: PC12
run_current: 0.900
interpolate: False
stealthchop_threshold: 999999

[thermistor MY-ATC-Semitec-104GT-2]
temperature1: 25.0
resistance1: 114500.0
temperature2: 160.0
resistance2: 1218.0
temperature3: 250.0
resistance3: 209.0

[heater_bed]
heater_pin: PA2
sensor_pin: PC0 # BED
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_kp = 69.450
pid_ki = 1.569
pid_kd = 768.287
min_temp: 5
max_temp: 130

[heater_fan Hemera]
pin: PE5 # FAN0
heater: extruder
heater_temp: 50.0

[fan]
pin: PE6 # FAN1

[bltouch]
sensor_pin: ^PH11
control_pin: PB11
x_offset: 59
y_offset: -12
z_offset: 0.375
stow_on_each_sample: False

[safe_z_home]
home_xy_position: 245, 252
speed: 80
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 75
horizontal_move_z: 5
mesh_min: 60,0
mesh_max: 520,490
probe_count: 5, 5
fade_start: 1
fade_end: 10

[z_tilt]
speed: 75
horizontal_move_z: 10
retries: 0
retry_tolerance: 0.01
z_positions: 
    -10,0
    270,525
    545,0
points:
    0,20
    220,480
    450,20

[adxl345]
cs_pin: rpi:None
axes_map: y, x, z

[resonance_tester]
accel_chip: adxl345
probe_points:
    245, 250, 20

[input_shaper]
shaper_type_x = zv
shaper_freq_x = 63.6
shaper_type_y = ei
shaper_freq_y = 41.4

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu

[temperature_sensor Raspberry]
sensor_type: temperature_host

[filament_motion_sensor BTT]
detection_length: 7.0
extruder: extruder
switch_pin: !PG14
pause_on_runout:true
#runout_gcode:
#insert_gcode:
#event_delay:
#pause_delay:

[virtual_sdcard]
path: ~/gcode_files

#[include display.cfg]

[include macros.cfg]

[include kiauh_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.215937, 0.054531, 0.026094, 0.144531, 0.259687
#*# 	0.236875, 0.069531, 0.007344, 0.036406, 0.058750
#*# 	0.259687, 0.087031, 0.012187, -0.025625, -0.100469
#*# 	0.324844, 0.175937, 0.104375, 0.023750, -0.134531
#*# 	0.447812, 0.296250, 0.269531, 0.131250, -0.073281
#*# tension = 0.2
#*# min_x = 60.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 0.0
#*# x_count = 5
#*# max_y = 490.0
#*# mesh_x_pps = 2
#*# max_x = 520.0
