# BigTreeTech GTR v1.0
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the GTR. Instead,
# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the GTR
# with that SD card.
#
# See https://www.klipper3d.org/Config_Reference.html
#

[printer]
kinematics: corexy
max_velocity: 10000
max_accel: 3000
square_corner_velocity: 8.0
max_z_velocity: 5
max_z_accel: 30

[mcu]
restart_method: command
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_42004D0012504D4254373320-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[virtual_sdcard]
path: ~/printer_data/gcodes

[force_move]
enable_force_move: true

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[pause_resume]

[display_status]

[exclude_object]

[include steppers.cfg]

[include extruder.cfg]

[include bedlevel.cfg]

[include inputshaper.cfg]

[include sensors.cfg]

#[include display.cfg]

[include neopixel.cfg]

[include macros/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*#       0.006009, -0.132741, -0.168158, -0.102637, -0.008002
#*#       0.025592, -0.105502, -0.165502, -0.173418, -0.172064
#*#       0.077832, -0.069772, -0.159356, -0.230918, -0.316439
#*#       0.181894, 0.012363, -0.098002, -0.200606, -0.326075
#*#       0.348509, 0.153353, 0.030853, -0.085970, -0.225658
#*# tension = 0.2
#*# min_x = 60.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 0.0
#*# x_count = 5
#*# max_y = 490.0
#*# mesh_x_pps = 2
#*# max_x = 490.0
#*#
#*# [bed_mesh test]
#*# version = 1
#*# points =
#*# 	-0.006140, -0.032702, -0.035619, -0.006088, 0.023548
#*# 	-0.133484, -0.133119, -0.145359, -0.174057, -0.253275
#*# 	-0.226817, -0.198588, -0.194004, -0.292807, -0.496452
#*# 	-0.267754, -0.166296, -0.135515, -0.299317, -0.624994
#*# 	-0.305515, -0.101869, 0.032193, -0.205827, -0.675827
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 60.0
#*# max_x = 490.0
#*# min_y = 0.0
#*# max_y = 490.0
